.navbar-brand{
    font-size: 1.4rem;
    font-weight: 600;
    text-shadow: 2px -2px 3px gray;
}
.offcanvas-body{
    position: relative;
    top: -1rem;
}

.container{
    margin-top: 5rem;
}



.container img{
    box-shadow: 6px -2px 14px lightblue;
    animation: ComingBack 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    filter: contrast(1.3);
    width: 1s7vw;
}


.btn-group{
    width: 9rem;
}

.btn-text{
    font-size: 1rem;
    font-weight: 600;
}

.column-2{
    position: relative;;
    top: 4rem;
}


.column-2 h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4rem;
    font-weight: 600;
    text-shadow: 2px -1px 1px orange;
    animation: ComingBack 1.2s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.column-2 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}



@keyframes ComingBack {
    0%{
        opacity: 0;
        width: 0;
    }
    100%{
        opacity: 1;
        width: 100%;
    }
}